{% extends "inc/layout.html" %}
{% block content %}
  <div class="menu">
    <h3>proxies</h3>
  </div>

  <table class="table table-sm">
    <thead>
      <tr>
        <th>host</th>
        <th>status</th>
        <th>checked_at</th>
        <th>last_ok_at</th>
        <th>check</th>
        <th>view</th>
      </tr>
    </thead>
    <tbody>
      {% for p in proxies %}
        <tr>
          <td>{{p.host}}</td>
          <td>{{p.status}}</td>
          <td>{{p.checked_at.t }}</td>
          <td>{{p.created_at | dt}}</td>
          <td>{{p.checked_at | json_encode }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}