{% extends "inc/layout.html" %}
{% block content %}
  <div class="menu">
    <h3>sources</h3>
  </div>
  <table class="table table-sm table-hover">
    <thead>
      <tr>
        <th>name</th>
        <th>link</th>
        <th>created_at</th>
        <th>checked_at</th>
        <th>check</th>
        <th>view</th>
      </tr>
    </thead>
    <tbody>
      {% for s in sources %}
        <tr>
          <td>{{ s.name }}</td>
          <td>{{ s.link }}</td>
          <td>{{ s.created_at | dt }}</td>
          <td>{{ s.checked_at | dt }}</td>
          <td>
            <a href="/api-post/sources/{{ s.id }}/check">check</a>
          </td>
          <td>
            <a href="/api/sources/{{ s.id }}">view</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
