{% extends "inc/layout.html" %}
{% block content %}
  <div class="menu">
    <h3>sources</h3>
  </div>
  <table class="table table-sm table-hover">
    <thead>
      <tr>
        <th>name</th>
        <th>link</th>
        <th>created_at</th>
        <th>checked_at</th>
        <th>check</th>
        <th>view</th>
      </tr>
    </thead>
    <tbody>
      {% for s in sources %}
        <tr>
          <td>{{ s.name }}</td>
          <td>{{ s.link }}</td>
          <td>{{ s.created_at | dt }}</td>
          <td>{{ s.checked_at | dt }}</td>
          <td>
            <a href="/api-post/sources/{{ s.id }}/check">check</a>
          </td>
          <td>
            <a href="/api/sources/{{ s.id }}">view</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <hr/>

  <form class="row row-cols-lg-auto g-3 align-items-center" method="post" action="/create_source">
    <div class="col-12">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="name" name="name" required/>
      </div>
    </div>
    <div class="col-12">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="link" name="link" required/>
      </div>
    </div>
    <div class="col-12">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="username" name="username" required/>
      </div>
    </div>
    <div class="col-12">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="password" name="password" required/>
      </div>
    </div>
    <div class="col-12">
      <div class="input-group">
        <input type="number" class="form-control" placeholder="port" name="port" required/>
      </div>
    </div>
    <div class="col-12">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="protocol" name="protocol" required/>
      </div>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">create source</button>
    </div>
  </form>
{% endblock %}
